
body {
    margin: 0;
    padding: 0;
}

main {
	height: 100vh;
	background-image: url(image/img1.jpg);
	background-size: cover;
	font-family: sans-serif;
	color: black;
	padding: 10px;
	margin: 0;
}

header {
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 80px;
	display: flex;
	align-items: center;
}

header * {
	display: inline;
} 
header img {
	height: 75px;
	padding: 20px;
	margin: 0;
} 

header li {
	margin: 20px;
}

header li a {
	color: lightblue;
	text-decoration: none;
	font-size: 30px;
	border-radius: 1px solid black;
}

header li a:active {
	font-weight: bold;
}

header li a:hover {
	color: orange;
}

p {
	font-size: 25px;
	font-family: 'Times New Roman', Times, serif;
}

.jumbotron {
	padding: 10px;
	background-color: lightgrey;
	margin: 2px;
}

.btn {
	border-radius: 20px;
}